{% extends 'base.html' %} {% block content %}
<h1>Your Todos</h1>

<ul>
  <h3>Incompleted Todos</h3>
  <ul>
    {% for todo in incomplete_todos %}
    <li>
      {{ todo.title }}<a href="{% url 'todo_not_done' todo.id todo.complete %}">
        <input
          type="checkbox"
          class="todo-checkbox"
          {%
          if
          todo.complete
          %}checked{%
          endif
          %}
        />
      </a>
    </li>
    {% endfor %}
  </ul>

  <h3>Completed Todos</h3>
  <ul>
    {% for todo in completed_todos %}
    <li>
      {{ todo.title }}<a href="{% url 'done_todo' todo.id todo.complete %}">
        <input type="checkbox" class="todo-checkbox" checked="todo.complete" />
      </a>
    </li>
    {% endfor %}
  </ul>

  <h3>Expired Todos</h3>
  <ul>
    {% for todo in expired_todos %}
    <li>{{ todo.title }}</li>
    {% endfor %}
  </ul>

  <a href="{% url 'add_todo' %}">Add New Todo</a>
  {% endblock %}
</ul>
