{% extends 'base.html' %} {% block content %}
<h1>Your Todos</h1>

<ul>
  <h3>Incompleted Todos</h3>
  <ul>
    {% for todo in incomplete_todos %}
    <li>
        <a href="{%url 'delete_todo' todo.id %}">🗑️</a>
      {{ todo.title }}<a href="{% url 'todo_not_done' todo.id todo.complete %}">
        <input
          type="checkbox"
          class="todo-checkbox"
          checked=false
        />
      </a>
      <a href="{% url 'edit_todo' todo.id %}">🖉</a>
    </li>
    {% endfor %}
  </ul>

  <h3>Completed Todos</h3>
  <ul>
    {% for todo in completed_todos %}
    <li>
        <a href="{%url 'delete_todo' todo.id %}"">🗑️</a>
      {{ todo.title }}<a href="{% url 'done_todo' todo.id todo.complete %}">
        <input type="checkbox" class="todo-checkbox" checked="todo.complete" />
      </a>
      <a href="{% url 'edit_todo' todo.id %}">🖉</a>
    </li>
    {% endfor %}
  </ul>

  <h3>Expired Todos</h3>
  <ul>
    {% for todo in expired_todos %}
    <li><a href="{%url 'delete_todo' todo.id %}"">🗑️</a>{{ todo.title }}<a href="{% url 'edit_todo' todo.id %}">🖉</a></li>
    {% endfor %}
  </ul>

  <a href="{% url 'add_todo' %}">Add New Todo</a>
  {% endblock %}
</ul>
